body{
	margin: 0 auto;
	display: block;
}

#wrapper{
	margin: auto auto;
	font-family: arial, sans-serif;
	font-size: 12px;
	width: 100%;
	display: block;
	position: absolute;
}

#header{
	height: 30px;
	width: 100%;
	position: relative;
	margin-top: 20px;
	display: inline-block;
}

#headerNav{
	float: right;
	width: 262px;
	padding: 0px 30px;
	height: 30px;
	display: inline-block;
}

#headerGmailImages{
	display: inline-block;
	padding-right: 15px;
	height: 30px;
	vertical-align: top;
}

#headerIcons{
	display: inline-block;
	height: 30px;
}

div.headerItem, div.headerNotifContainer, div.headerUserContainer{
	display: inline-block;
	padding-left: 15px;
}

a.headerGmail, a.headerImages{
	display: inline-block;
	margin-top: 8px;
	color: #3F3F3F;
}

a.headerGmail:hover, a.headerImages:hover{
	color: #090909;
	text-decoration: underline;
}

div.headerItemApps{
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
}

a.headerApps{
	background-image: url("../images/apps.png");
	background-size: 16px 16px;
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-top: 6px;
	opacity: .55;
}

a.headerApps:hover{
	opacity: 1;
}

.headerNotifContainer{
	width: 30px;
	height: 30px;
	vertical-align: top;
}

.headerNotif{
	background-color: #db4437;
	box-sizing: border-box;
	width: 20px;
	height: 20px;
	margin: 4px;
	border-radius: 50%;
	padding: 4px;
	text-align: center;
	color: #fff;
}

.headerNotif:hover{
	background-color: #5D1C17;
}

.headerUserContainer{
	width: 30px;
	height: 30px;
	vertical-align: top;
}

.headerUser{
	background-color: #0097A7;
	position: absolute;
	top: -1px;
	box-sizing: border-box;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	padding: 9px;
	text-align: center;
	color: #fff;
	margin: 0;
	font-size: 16px;
}

.headerUser:hover{
	background-color: #004A51;
}